#calendar-container {
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    position: relative; /* 부모 요소에 대한 상대적인 위치 설정 */
}

.navigation-buttons {
    position: absolute; /* 버튼의 위치를 절대적으로 설정 */
    top: 0; /* 상단에 위치하도록 설정 */
    width: 100%; /* 부모 요소의 100% 너비를 사용 */
    display: flex;
    justify-content: space-between; /* 각 버튼을 양 끝에 배치 */
}
#calendar-container .navigation-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 세로 중앙 정렬 추가 */
    padding: 10px; /* 좌우 여백 조절 */
}
#calendar-container .navigation-buttons button {
  height: 30px; /* 적절한 높이 값으로 조절 */
}
#calendar-container .navigation-buttons img {
    width: 50px; /* 이미지의 최대 너비를 100%로 설정하여 부모 요소에 맞게 조절 */
    height: 50px;
    object-fit: cover; /* 높이를 자동으로 조절하여 비율을 유지 */
}
#calendar-container td {
    width: 70px; /* 날짜 셀의 너비 조절 */
    height: 70px; /* 날짜 셀의 높이 조절 */
}

#calendar {
    display: inline-block;
    vertical-align: top;
    margin-top: 40px; /* 상단에 여백 추가 */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  position: relative;
}

th {
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}