#slider-container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

#image-slider {
    transition: transform 1s ease-in-out;
    display: flex; /* 이미지들을 가로로 나열*/
}

.slide {
    flex: 0 0 100%; 
}

img {
    width: 100%;
    height: auto;
}