/*웹페이지 메인틀 style.css*/
/* 구역확인을 위한 임시 색상 설정 */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}
nav {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}
.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0 150px; /* 여백 추가 */
}
.left-side {
    flex: 1;
    background-color: blue;
}
.left-side img {
    width: 100%; /* 이미지 크기 100%로 지정 */
    height: auto; /* 세로 비율에 맞게 자동 조정 */
}
.center {
    flex: 3;
    background-color: pink;
    text-align: center;
}
.center img {
    width: 100%; /* 이미지 크기 100%로 지정 */
    /* max-width: 600px; 최대 가로 너비 설정 */
    height: auto; /* 세로 비율에 맞게 자동 조정 */
    display: block; /* 가운데 정렬을 위해 필요한 속성 */
    margin: 0 auto; /* 가운데 정렬 */
}
.right-side {
    flex: 1;
    background-color: purple;
}
.right-side img {
    width: 100%; /* 이미지 크기 100%로 지정 */
    height: auto; /* 세로 비율에 맞게 자동 조정 */
    display: block; /* 가운데 정렬을 위해 필요한 속성 */
    margin: 0 auto; /* 가운데 정렬 */
}
.album {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.album-item {
    flex-basis: calc(33.3333% - 20px);
    margin-bottom: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    padding: 8px 16px;
    margin: 0 5px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #333;
}

.pagination a.active {
    background-color: #3b3b3b;
    color: white;
}

/* hero.php */
table {
    border-top: 1px solid #444444;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #444444;
    padding: 10px;
}

td {
    border-bottom: 1px solid #efefef;
    padding: 10px;
}

table .even {
    background: #efefef;
}

.text {
    text-align: center;
    padding-top: 20px;
    color: #000000
}

.text:hover {
    text-decoration: underline;
}

a:link {
    color: #57A0EE;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* write.php */

table.table2 {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    margin: 20px 10px;
}

table.table2 tr {
    width: 50px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

table.table2 td {
    width: 100px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

/* read.php */
.read_table {
    border: 1px solid #444444;
    margin-top: 30px;
}

.read_title {
    height: 45px;
    font-size: 23.5px;
    text-align: center;
    background-color: #3C3C3C;
    color: white;
    width: 1000px;
}

.read_id {
    text-align: center;
    background-color: #EEEEEE;
    width: 30px;
    height: 33px;
}

.read_id2 {
    background-color: white;
    width: 60px;
    height: 33px;
    padding-left: 10px;
}

.read_hit {
    background-color: #EEEEEE;
    width: 30px;
    text-align: center;
    height: 33px;
}

.read_hit2 {
    background-color: white;
    width: 60px;
    height: 33px;
    padding-left: 10px;
}

.read_content {
    padding: 20px;
    border-top: 1px solid #444444;
    height: 500px;
}

.read_btn {
    width: 700px;
    height: 200px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

.read_btn1 {
    height: 50px;
    width: 100px;
    font-size: 20px;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

.read_comment_input {
    width: 700px;
    height: 500px;
    text-align: center;
    margin: auto;
}

.read_text3 {
    font-weight: bold;
    float: left;
    margin-left: 20px;
}

.read_com_id {
    width: 100px;
}

.read_comment {
    width: 500px;
}