/*웹페이지 메인틀 style.css*/

/* 컬러차트 */
/* 사용법: var(--컬러명) */
:root {
    --color1 : #B569BF;
    --color2 : #94ABF2;
    --color3 : #CAC9F2;
    --color4 : #485373;
    --color5 : #070926;
    --color6 : #ffffff;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color5);
}
header {
    background-color: var(--color5);
    height: 150px;
    text-align: center;
}
nav {
    background-color: var(--color5);
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid rgba(202, 201, 242, 0.6);
	position: sticky;
	top: 0rem;
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color:var(--color3);
}
.content {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 0 15%; /* 여백 추가 */

}
.upload_content {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 0 15%; /* 여백 추가 */
	color: #FFFFFF;

}

.left-side {
    flex: 1;
    background-color: var(--color5);
    text-align: center;
    margin-right: 10px;
}
th{
    color: #000000;
}
hr {
    border: 1px solid rgba(202, 201, 242, 0.6);
  }
.left-side img {
    width: 100%; /* 이미지 크기 100%로 지정 */
    height: auto; /* 세로 비율에 맞게 자동 조정 */
}
.center {
    flex: 3;
    background-color: var(--color5);
    text-align: center;
}
.center img {
    width: 100%; /* 이미지 크기 100%로 지정 */
    /* max-width: 600px; 최대 가로 너비 설정 */
    height: auto; /* 세로 비율에 맞게 자동 조정 */
    display: block; /* 가운데 정렬을 위해 필요한 속성 */
    margin: 0 auto; /* 가운데 정렬 */
}
.right-side {
    flex: 1;
    background-color: var(--color5);    
    margin-left: 10px;

}
.right-side img {
    width: 100%; /* 이미지 크기 100%로 지정 */
    height: 150px; /* 세로 비율에 맞게 자동 조정 */
    display: block; /* 가운데 정렬을 위해 필요한 속성 */
    margin: 0 auto; /* 가운데 정렬 */
}
.album {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.album-item {
    flex-basis: calc(33.3333% - 20px);
    margin-bottom: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
color: #fff;
	font-size: 1.2rem;
	text-align: center;
}

.pagination a:hover{
	background: var(--color4);
	color: #fff;
}

.pagination a,
.pagination .current {
	border-radius: 50%;
	padding-top: 4px;
	display: inline-block;
	width: 30px;
	height:30px;
	margin: 0 7px;
}

.pagination .current {
	background: #ccc;
	color: #fff;
}
.ticket {
    position: relative;
    width: 100%; /* 가로 길이 100%로 설정 */
}

.ticket img {
    width: 100%;
    height: 50%; /* 가로의 절반인 50%로 설정 */
    object-fit: cover;
}
a {
    color: inherit; /* 기본 색상 유지 */
    text-decoration: none; /* 기본 밑줄 제거 */
}
.my_ticket{
	border: 1.5px dashed rgba(202, 201, 242, 0.6);
	border-radius: 5px 5px 5px 5px;
	
}
.font{
    font-family: 'Dhurjati', cursive;
    font-size: 1.5rem;

}
.mucompany{
	border: 1.5px dashed rgba(202, 201, 242, 0.6);

	border-radius: 5px 5px 5px 5px;
	font-family: 'Dhurjati', cursive;
	font-size: 1.25rem;
}

.img_company {
	transition: .1s;

}

.img_company:hover {
	filter: grayscale(1);
	transform: scale(1.1);

}

.button {
	border-radius: 5px 5px 5px 5px;
	background-color: var(--color3);


}

.heart {
	border-radius: 5px 5px 5px 5px;
	background-color: var(--color3);
}
	.myPage_back {
	background-color: var(--color4);
	outline: 2px solid var(--color2);
	border-radius: 5px 5px 5px 5px;
	padding-left: 5px;
	}

